{% extends 'base.html' %}
{% block content %}
<div class="background">
    <div class="about">
        <pre id="about">

       _____ ___.                  __        
      /  _  \\_ |__   ____  __ ___/  |_   /\ 
     /  /_\  \| __ \ /  _ \|  |  \   __\  \/ 
    /    |    \ \_\ (  <_> )  |  /|  |    /\ 
    \____|__  /___  /\____/|____/ |__|    \/ 
            \/    \/                         

                       </pre>


        <p id="about-text">
            My work is about self actualization, and the presence of personality through form.
            <br><br>
            In Portraiture I try to document a slice of a person’s being,
            observant of the fact that in narrative portraiture, the subjects have long contended with the arena of their context’s formal, functional,
            decorative, and documentational history.
            <br><br>
            So by embracing the two dimensional plane, with an urge towards caricature, the genre departs from its original
            context. While I also cue visual short hand and patterning. By playing with the traditional function of the frame, I’ve begun to relocate it from a physical support to
            an integral part of the coposition.
            <br><br>
            In my non representation and abstraction- I knead the familliar into new forms. Mimetic distortion is as much a
            medium as any other.
            Text becomes a malleable and illegible foreground event. Documentation changes pieces as they become images
            of images of themselves. Digital grain, flash, surface oils, and opposing angles tensing up on eachother
            each metaphorize the initial work.
            <br><br>
            Utilizing materials that behave out of my control creates a tension between intent and potential, and
            emphasizes the materiality of the finished work.
            As I continue to work the surface, I contend with what’s already happened and dried without my intervention.
            Resulting in paintings that are reactionary and self referential when I echo natural bleeds with placed
            marks.
            <br><br>
            Born and raised in Los Angeles, I graduated from the School of the Art Institute of Chicago in 2019 with a Bachelors of Fine Art in Studio. With an emphasis in Painting and Fiber and Material Studies. 
        </p>
    </div>
</div>
{% endblock %}