{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isa Sofia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

    <pre id="pre1">
    <a class="pre1" href="{% url 'home' %}">
    _                          _____      
   (_)________ _   _________  / __(_)___ _
  / / ___/ __ `/  / ___/ __ \/ /_/ / __ `/
 / (__  ) /_/ /  (__  ) /_/ / __/ / /_/ / 
/_/____/\__,_/  /____/\____/_/ /_/\__,_/  
</a>                                          
</pre>

    <main>
        <nav>
            <ul>
                <li><a class="nav-link" href="{% url 'home' %}"><em>Home</em> &nbsp;</a></li>
                <li><a class="nav-link" href="{% url 'about' %}"><em>About</em> &nbsp;</a></li>
                <li><a class="nav-link" href="{% url 'fibers_index' %}"><em>Fibers</em> &nbsp;</a></li>
                <li><a class="nav-link" href="{% url 'figuratives_index' %}"><em>Figurative</em> &nbsp;</a></li>
                <li><a class="nav-link" href="{% url 'digitals_index' %}"><em>Digital</em> &nbsp;</a></li>
                <li><a class="nav-link" href="{% url 'contact' %}"><em>Contact</em> &nbsp;</a></li>
                {% if user.is_authenticated %}
                <li><a class="loggedin-nav-link" href="{% url 'logout' %}">Log Out</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>