body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    margin: 30px;
    border: solid 1px;
    border-color: #E3BDBB;
    color: bisque;
}

#pre1 {
    width: 350px;
    border: solid 1px;
    border-color: #E3BDBB;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.pre1 {
    color: #E3BDBB;
}

h1 {
    display: flex;
    justify-content: center;
    color: bisque;
}

.enter {
    display: flex;
    justify-content: center;
    color: aqua;
}
h4 {
    color: #E3BDBB;
    margin: 25px;
}

.about {
    color: bisque;
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 15px;
    height: 1000px;
    width: 800px;
    border: solid 2px;
    border-color: #E3BDBB;
    background-image: url(https://i.postimg.cc/SsL2kNhr/Screen-Shot-2020-03-17-at-9-17-06-PM.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#about-text {
    font-family: Helvetica, sans-serif;
    padding: 30px;
    display: flex;
    justify-content: center;
    width: 600px;
    color: #E3BDBB;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15px;
}

.home {
    background-image: url("https://i.postimg.cc/1tfmJ4m4/Screen-Shot-2020-03-17-at-9-16-20-PM.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    width: 800px;
    height: 1000px;
    z-index: -1;
    border: solid 2px;
    border-color: #E3BDBB;
    display: flex;
    justify-content: center;
    margin-left: 500px;
    margin-bottom: 20px;
}

#home-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #E3BDBB;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 800px;
    border: solid 2px;
    border-color: #E3BDBB;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 800px;
    list-style-type: none;
    
}

.nav-link {
    color: #E3BDBB;
}

li {
    display: inline;
    color: #E3BDBB;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: white;
}

#contact {
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.content-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.figurative-img {
    height: 470px;
    width: 400px;
    margin: 20px;
    padding: 10px;
    border: solid 1px;
    border-color: bisque;
}


.index-link {
    color: bisque;
    border: solid 1px bisque;
    padding: 10px;
    width: 240px;
    margin: 20px;
}

.fibers-index-link {
    color: bisque;
    border: solid 1px bisque;
    padding: 10px;
    width: 260px;
    margin: 20px;
}

.index-title {
    display: flex;
    justify-content: flex-start;
}

.digital-img-index {
    height: 200px;
    width: 170px;
    margin: 20px;
    padding: 10px;
    border: solid 1px;
    border-color: bisque;
}

.fibers-img-index {
    height: 200px;
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: solid 1px;
    border-color: bisque;
}

.description-card {
    display: flex;
    flex-direction: row;
}

.login  {
    color: white;
    cursor: default;
    margin: 25px;
}

.login:hover {
    color: white;
}

.loggedin-nav-link {
    margin-top: 30px;
    color: #E3BDBB;
}

.fiber-buttons {
    cursor: auto;
    margin: 30px;
}

.edit-options {
    margin: 30px;
    width: 170px;
}

.edit-link {
    color: bisque;
    font-size: 12px;
}

.edit-link:hover {
    color: white;
    font-weight: bold;
}

.description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
}


.loggedin-option {
    color: bisque;
    margin: 25px;
}

.fibers-detail-page  {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 200px;
}

.fibers-img {
    height: 667px;
    width: 600px;
    margin: 20px;
    padding: 10px;
    border: solid 1px;
    border-color: bisque;
}

.figurative-detail-page  {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 200px;
}

.figurative-img {
    height: 667px;
    width: 600px;
    margin: 20px;
    padding: 10px;
    border: solid 1px;
    border-color: bisque;
}

.digital-detail-page  {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 100px;
}

.digital-img {
    height: 667px;
    width: 500px;
    margin: 20px;
    padding: 10px;
    border: solid 1px;
    border-color: bisque;
}

.delete-form {
    margin: 25px;
}

.edit-page-cancel {
    margin: 25px;
}