{% extends 'base.html' %}
{% block content %}
<div class="figurative-detail-page">

  <div class="description-card">
    <div class="fibers-images-div">
      {% for photo in figurative.figurativephoto_set.all %}
      <img class="figurative-img" src="{{photo.url}}">
      {% endfor %}
    </div>
  <div class="description">
    <ul class="description-ul">
      <li class="mobile-description-li">{{ figurative.title }}</li>
      <br><br>
      <li class="mobile-description-li">{{ figurative.description }}</li>
      <br><br>
      <li class="mobile-description-li"> <a class="edit-link" href="{% url 'figuratives_index' %}">Back</a></li>
    </ul>
    <div class="mobile-description">
      <div class="mobile-title">{{ figurative.title }}</div>
      <hr>
      <div>{{ figurative.description }}</div>
      <div><a class="mobile-edit-link" href="{% url 'fibers_index' %}">Back</a></div>
    </div>
      {% if user.is_authenticated %}
      <div class="loggedin-edit">
        <div class="edit-options">
          <a class="edit-link" href="{% url 'figuratives_update' figurative.id %}">Edit</a>
          <a class="edit-link" href="{% url 'figuratives_delete' figurative.id %}">Delete</a>
          <form action="{% url 'delete_figurative_photo' figurative.id %}" method="POST">
            {% csrf_token %}
            <input class="del" type="submit" value="Delete Last Photo">
          </form>
        </div>
        {% endif %}
        
        {% if user.is_authenticated %}
        <div class="add-pic">
          <form action="{% url 'figurative_photo' figurative.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" value="Upload Photo">
          </form>
        </div>
      </div>
      {% endif %}
  </div>
  </div>
</div>

{% for photo in figurative.figurativephoto_set.all %}
{% empty %}
<div class="empty">
  <div class="no-photos">
    <p>No photos to show yet</p>
  </div>
</div>
{% endfor %}

{% endblock %}