{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h5><a class="loggedin-option" href="{% url 'figuratives_create' %}"><em>+ Add a Figurative Piece</em> &nbsp;</a></h5>
{% endif %}

<div class="center-grid">
  <div class="grid">
    {% for figurative in figuratives %}
    <div>
    <a href="/figuratives/{{ figurative.id }}">
      <div class="fibers-index-link">
        <span class="index-title">{{ figurative.title }}</span>
        {% for photo in figurative.figurativephoto_set.all %}
        {% if forloop.first %}
          <img class="fibers-img-index" src="{{photo.url}}">
          {% endif %}
          {% endfor %}
        </div>
      </a>
    </div>
    {% endfor %}
    <div>
      <a href="/figuratives/pink">
        <div class="fibers-special-index-link">
          <span class="index-title">Untitled II</span>
            <img class="fibers-special-img-index" src="https://i.postimg.cc/qRtR7qFP/Screen-Shot-2021-05-11-at-1-42-03-PM.png">
          </div>
        </a>
      </div>
  </div>
</div>

{% endblock %}