{% extends 'base.html' %}
{% block content %}
<div class="figurative-detail-page">

    <div class="description-card">
        <div class="fibers-images-div">

            <img class="pink-img" src="https://i.postimg.cc/yYx1Pkj2/Screen-Shot-2021-05-11-at-1-36-37-PM.png">

        </div>
        <div class="fibers-images-div">

            <img class="pink-img" src="https://i.postimg.cc/tg9ps5SQ/Screen-Shot-2021-05-11-at-1-52-25-PM.png">

        </div>
        <div class="description">
            <ul class="description-ul">
                <li class="mobile-description-li">Untitled</li>
                <br><br>
                <hr><br>
                <li class="mobile-description-li">Watercolor and fabric paint on muslin. 2019</li>
                <br><br>
                <li class="mobile-description-li"> <a class="edit-link" href="{% url 'figuratives_index' %}">Back</a>
                </li>
            </ul>
            <div class="mobile-description">
                <div class="mobile-title">Untitled</div>
                <div class="mobile-description-text">Watercolor and fabric paint on muslin. 2019<a class="mobile-edit-link"
                        href="{% url 'fibers_index' %}">Back</a></div>

            </div>

        </div>

    </div>
</div>

{% endblock %}