{% extends 'base.html' %}
{% block content %}
<div class="fibers-detail-page">
<div class="description-card">
   <div class="description">
    <ul>
      <li>{{ fiber.title }}</li>
      <br><br>
      <li>{{ fiber.description }}</li>
      <br><br>
      <li><a class="edit-link" href="{% url 'fibers_index' %}">Back</a></li>
    </ul>
  </div> 
   </div> 

  {% for photo in fiber.fiberphoto_set.all %}
  <img class="fibers-img" src="{{photo.url}}">

</div>
{% if user.is_authenticated %}
<div>
  <form class="delete-form" action="{% url 'delete_fiber_photo' fiber.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete Photo">
  </form>
</div>
{% endif %}
{% empty %}
<form action="{% url 'fiber_photo' fiber.id %}" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" value="Upload Photo">
</form>
{% endfor %}

{% if user.is_authenticated %}
<div class="edit-options">
  <a class="edit-link" href="{% url 'fibers_update' fiber.id %}">Edit</a>
  <a class="edit-link" href="{% url 'fibers_delete' fiber.id %}">Delete</a>
</div>

{% endif %}
{% endblock %}