{% extends 'base.html' %}
{% block content %}
<div class="fibers-detail-page">

  <div class="description-card">
    <div class="fibers-images-div">
        {% for photo in fiber.fiberphoto_set.all %}
        <img class="fibers-img" src="{{photo.url}}">
        {% endfor %}
    </div>
    <div class="description">
      <ul class="description-ul">
        <li>{{ fiber.title }}</li>
        <br><br>
        <li>{{ fiber.description }}</li>
        <br><br>
        <li><a class="edit-link" href="{% url 'fibers_index' %}">Back</a></li>
      </ul>

      <div class="column-for-delete">

      </div>
      <div class="loggedin-edit">
        {% if user.is_authenticated %}
        <div class="edit-options">
          <a class="edit-link" href="{% url 'fibers_update' fiber.id %}">Edit</a>
          <a class="edit-link" href="{% url 'fibers_delete' fiber.id %}">Delete</a>

          <form action="{% url 'delete_fiber_photo' fiber.id %}" method="POST">
            {% csrf_token %}
            <input class="del" type="submit" value="Delete Last Photo">
          </form>
          {% endif %}
        </div>

        {% if user.is_authenticated %}
          <div class="add-pic">
            <form action="{% url 'fiber_photo' fiber.id %}" enctype="multipart/form-data" method="POST">
              {% csrf_token %}
              <input type="file" name="photo-file">
              <br><br>
              <input type="submit" value="Upload Photo">
            </form>
          </div>
        </div>
        {% endif %}
    </div>
  </div>

</div>

{% for photo in fiber.fiberphoto_set.all %}
{% empty %}
<div class="empty">
  <div class="no-photos">
    <p>No photos to show yet</p>
  </div>
</div>
{% endfor %}


{% endblock %}