{% extends 'base.html' %}
{% block content %}
<div class="fibers-detail-page">
  <div class="description-card">
    <div class="description">
      <ul>
        <li>{{ fiber.title }}</li>
        <br><br>
        <li>{{ fiber.description }}</li>
        <br><br>
        <li><a class="edit-link" href="{% url 'fibers_index' %}">Back</a></li>
      </ul>
      <div class="loggedin-edit">

        {% if user.is_authenticated %}
        <div class="edit-options">
          <a class="edit-link" href="{% url 'fibers_update' fiber.id %}">Edit</a>
          <a class="edit-link" href="{% url 'fibers_delete' fiber.id %}">Delete</a>
          
          {% if user.is_authenticated %}
         
            <form  action="{% url 'delete_fiber_photo' fiber.id %}" method="POST">
              {% csrf_token %}
              <input class="del" type="submit" value="Delete Photo">
            </form>
            {% endif %}
          
          </div>
          {% endif %}
      </div>
    </div>
  </div>

  {% for photo in fiber.fiberphoto_set.all %}
  <img class="fibers-img" src="{{photo.url}}">

</div>
{% empty %}
{% if user.is_authenticated %}
<form action="{% url 'fiber_photo' fiber.id %}" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" value="Upload Photo">
</form>
{% if user.is_authenticated %}
{% endfor %}


{% endblock %}