{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h5><a class="loggedin-option" href="{% url 'fibers_create' %}"><em>+ Add a Fiber Piece</em> &nbsp;</a></h5>
{% endif %}

<div class="center-grid">

  <div class="grid">
    {% for fiber in fibers %}
    <div>
      <a href="/fibers/{{ fiber.id }}">
   
          
          {% for photo in fiber.fiberphoto_set.all %}
          <img class="fibers-img-index" src="{{photo.url}}">
          {% endfor %}
     
      </a>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}