{% extends 'base.html' %}
{% block content %}
<div class="digital-detail-page">
  <div class="description-card">
    <div class="images-div">
      {% for photo in digital.digitalphoto_set.all %}
      <img class="digital-img" src="{{photo.url}}">
      {% endfor %}
    </div>
    <div class="description">
      <ul class="description-ul">
        <li class="mobile-description-li">{{ digital.title }}</li>
        <br><br>
        <li class="mobile-description-li">{{ digital.description }}</li>
        <br><br>
        <li class="mobile-description-li"> <a class="edit-link" href="{% url 'digitals_index' %}">Back</a></li>
      </ul>
      <div class="mobile-description">
        <div class="mobile-title">{{ digital.title }}</div>
        <div class="mobile-description-text">{{ digital.description }}<a class="mobile-edit-link" href="{% url 'fibers_index' %}">Back</a></div>
      </div>

      {% if user.is_authenticated %}
      <div class="loggedin-edit">
        <div class="edit-options">
          <a class="edit-link" href="{% url 'digitals_update' digital.id %}">Edit</a>
          <a class="edit-link" href="{% url 'digitals_delete' digital.id %}">Delete</a>
          <form action="{% url 'delete_digital_photo' digital.id %}" method="POST">
            {% csrf_token %}
            <input class="del" type="submit" value="Delete Last Photo">
          </form>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div class="add-pic">
          <form action="{% url 'digital_photo' digital.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" value="Upload Photo">
          </form>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% for photo in digital.digitalphoto_set.all %}
{% empty %}
<div class="empty">
  <div class="no-photos">
    <p>No photos to show yet</p>
  </div>
</div>
{% endfor %}

{% endblock %}