{% extends 'base.html' %}
{% block content %}

<h4><em>Digital</em></h4>
{% if user.is_authenticated %}
<h5><a class="loggedin-option" href="{% url 'digitals_create' %}"><em>+ Add a Digital Piece</em> &nbsp;</a></h5>
{% endif %}
{% for digital in digitals %}
<div class="card">
  <a href="/digitals/{{ digital.id }}">
    <div class="index-link">
      <span class="index-title">{{ digital.title }}</span>
      {% for photo in digital.digitalphoto_set.all %}
      <img class="digital-img-index" src="{{photo.url}}">
      {% endfor %}
    </div>
  </a>
</div>
{% endfor %}

{% endblock %}